.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  background: gray;
}

.appHeader h1 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
