.navigation {
  padding: 30px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  margin: 2px 0;
}

@media screen and (max-width: 1000px) {
  .navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navigation li {
    margin: 0 10px 0 0;
  }
}
