.student-table {
  width: 100%;
}

.student-table,
.student-table th,
.student-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.student-table td,
.student-table th {
  padding: 15px 30px;
  text-align: center;
}

.student-table-container {
  overflow-x: scroll;
}
