.student-table-row {
  animation-name: row-appear;
  animation-duration: 0.4s;
  animation-iteration-count: ease-out;
}

@keyframes row-appear {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.student-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.student-options > * {
  margin: 0 2px;
}
