.student-page-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
}

.student-page-container h2 {
  align-self: flex-start;
}

.student-page-container button {
  align-self: flex-end;
}

.student-page-container > * {
  margin: 5px 0;
}
