.content {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(250px, 4fr);
}

@media screen and (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
