body {
  font-family: sans-serif;
  margin: 0;
}

header {
  padding: 15px;
  background: gray;
  color: white;
  position: relative;
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(300px, 5fr);
}

.grid-nav {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.grid-nav a {
  margin: 5px 0;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 40px;
}

.grid-container h2 {
  font-weight: normal;
  margin: 0;
}

.grid-container button {
  width: 35px;
  height: 28px;
  font-size: 20px;
  text-align: center;
  border-radius: 0;
  border-width: 1px;
  background: white;
  align-self: flex-end;
  margin: 20px 0;
}

.grid-table-container {
  overflow-x: scroll;
  width: 100%;
}

table {
  position: sticky;
  width: 100%;
}

table,
th,
td {
  border: black solid 1px;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 20px;
}

th {
  font-weight: lighter;
  font-size: 12px;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  width: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 100;
  border: black solid 1px;
  border-radius: 10px;
}

.overlay header {
  position: relative;
  padding: 20px 0;
  background: transparent;
  color: black;
  border-bottom: black solid 1px;
  display: flex;
}

.overlay header h2 {
  margin: 0;
  margin-left: 20px;
  display: inline;
}

.overlay header button {
  position: absolute;
  right: 20px;
  display: block;
  width: 35px;
  height: 28px;
  font-size: 16px;
  text-align: center;
  border-radius: 0;
  border: black solid 1px;
  background: white;
}

.overlay .info {
  padding: 30px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.overlay .actions {
  border-top: black solid 1px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.overlay .actions button {
  padding: 10px;
  border-radius: 0;
  border: black solid 1px;
  background: white;
}

#page-changer {
  align-self: center;
}

.grid-container table button {
  margin: 0 2px;
}

.caution {
  padding: 60px 30px;
  text-align: center;
}

.header-navigation {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.dropdown {
  display: inline;
  position: relative;
}

.bell-container {
  display: flex;
  align-items: center;
}

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 10;
  background: white;
  border: gray solid 1px;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.account {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  background: blue;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.bell {
  width: 21px;
  height: 21px;
  margin: 0 20px;
}

.message-list {
  padding-left: 0;
  list-style-type: none;
}

.message-list-item {
  color: black;
  display: flex;
  align-items: center;
  margin: 5px 0;
  min-width: 60px;
}

.message {
  background: gray;
  border-radius: 10px;
  min-width: 100px;
  padding: 10px;
  min-height: 35px;
}

.jingle-bell {
  animation-name: jingle;
  animation-iteration-count: ease-out;
  animation-duration: 0.75s;
}

@keyframes jingle {
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(22.5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.red-dot {
  background: red;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 20%;
  opacity: 0;
}

.red-dot-appear {
  animation-name: appear;
  animation-iteration-count: ease-out;
  animation-duration: 0.75s;
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
