.modal {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  min-width: 340px;
  width: 35%;
}

.add-form-grid {
  display: grid;
  /* grid-template-columns: min(70px) min(150px); */
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
}

.modal header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal h2 {
  font-size: 20px;
  margin: 0;
}

.modal-navigation {
  display: flex;
  padding: 15px;
  flex-direction: row-reverse;
  border-top: 1px solid black;
}

.modal-navigation > * {
  margin-right: 5px;
}

.info {
  margin: 20px 50px;
}

.modal input,
.modal select {
  border: 0.3px solid rgb(69, 69, 69);
}

.modal input:focus,
.modal select:focus {
  outline: none;
  border-color: black;
}

.modal .invalid-input-value,
.modal .invalid-input-value:focus {
  border-color: red;
}
